<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<!--<nav th:fragment="navbar" style="background-image: linear-gradient(pink, lightgreen)">-->
<!--      <h1>Spring Blog</h1>-->
<!--      <form th:action="@{/logout}" th:method="post">-->
<!--        <button class="btn-link btn">Logout</button>-->
<!--      </form>-->
<!--</nav>-->

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <a class="navbar-brand">Spring Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" th:href="@{/posts}">Home</a>
                <a class="nav-link" th:href="@{/posts/create}">Create a Post</a>
                <a class="nav-link" th:href="@{sign-up}">Sign-Up</a>
                <a class="nav-link" th:href="@{login}">Login</a>
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn-link btn">Logout</button>
                </form>
            </div>
        </div>
    </div>
</nav>

</html>